.canvas-area {
  border: 1px solid #46aa25;
  border-radius: 5px;
}

.colour-grid {
  margin: 0 auto;
}

.canvas-title {
  margin-bottom: 50px;
}

.canvas-rad {
  width: 80px;
}

.canvas-input {
  margin: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.canvas-input-color {
  margin-left: 150px;
}